<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="page-header"></div>
    <div class="thumbnail">
      <a href="">
        <img src="http://www.aspca.org/sites/default/files/cat-care_cat-nutrition-tips_overweight_body4_left.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Gatinha muito fofinha.</p>
        </div>
      </a>
    </div>
    <div class="thumbnail">
      <a href="">
        <img src="https://c2.staticflickr.com/4/3236/2753103505_a0c33cf5ee_z.jpg?zz=1" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Gatinha muito fofinha siamesa.</p>
        </div>
      </a>
    </div>
  <div class="col-lg-3"></div>
  </div>
</div>